<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light static-top">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="../../assets/1.png" alt="" style="width:40px;height:40px;">
      </a>
      <p style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;font-size: 1.5em;color: rgb(68, 167, 68)" >WasteApp</p>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto"style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;font-size: 1em;">
          <li class="nav-item active">
            <a class="nav-link" href="/Home">Home
              
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/Schedule">Schedule</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/adddriver">Add Driver</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/addcol">Add Collector</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/addcomp">Promotions Company</a>
              </li>
            <li class="nav-item">
            <a class="nav-link" routerLink="/Waste">Waste Prices</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/feedback">Feedbacks</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/Instructions">Instructions</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Services</a>
          </li> 
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav> -->
<!-- <mat-tab-group >
    <mat-tab label="Schedule"></mat-tab>
    <mat-tab label="Second"></mat-tab>
    <mat-tab label="Third"></mat-tab>
  </mat-tab-group> -->
<!-- <nav> -->
    
    <nav mat-tab-nav-bar mat-align-tabs="center">
  <!-- <div class="container mr-2"> -->

        <a class="ml-4 mr-3 mt-1">
            <img src="../../assets/1.png" alt="" style="width:40px;height:40px;">
          </a>
          <p class="mr-3 mt-2"style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;font-size: 1.5em;color: rgb(68, 167, 68)">WasteApp</p>
  <!-- </div> -->
      <a class="mt-2" mat-tab-link *ngFor="let link of navLinks" [routerLink]="link.link"
       style="min-width: 20px;" 
       routerLinkActive #rla="routerLinkActive" (click)="link.index == 9 ?logOut(): null" [active]="rla.isActive">{{link.label}}
        
      </a>
    
    </nav>
<!-- </nav> -->

<!-- 
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" *ngFor="let link of navLinks">
        <a class="mt-2 nav-link"  [routerLink]="link.link" routerLinkActive="active current">{{link.label}}
        </a>
      </li>
 
    </ul>
  </div>
 -->