
            <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light static-top">
                <div class="container">
                    <a class="navbar-brand" href="#">
                        <img src="../../assets/1.png" alt="" style="width:40px;height:40px;">
                    </a>
            <p style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;font-size: 1.5em;color: rgb(68, 167, 68)" >WasteApp</p>

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarResponsive">
                        <ul class="navbar-nav ml-auto"style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;font-size: 1em;">
                            <li class="nav-item ">
                                <a class="nav-link" href="/Home">Home
    
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" routerLink="/Schedule">Schedule</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " href="/adddriver">Add Driver</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="/addcol">Add Collector</a>
                                <span class="sr-only">(current)</span>

                            </li>
                            <li class="nav-item">
                                <a class="nav-link" routerLink="/Waste">Waste Prices</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link" href="#">Services</a>
                              </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav> --> 
    <!-- //// -->
    <app-admin-navbar></app-admin-navbar>










<div class="container">
    <h3 style="color:rgb(47, 158, 37);">Add a New Collector </h3>
    <div class="row">
            <div class='col-sm-2'>
        <label>Collector Name</label>
        </div>
        <div class='col-sm-6'>
            <input type='text' class="form-control" [(ngModel)]="newcollector.userName" />
        </div>

    </div>
    <br>
    <!-- /// -->
    <div class="row">
            <div class='col-sm-2'>
        <label>Email</label>
        </div>
        <div class='col-sm-6'>
            <input type='text' class="form-control" [(ngModel)]="newcollector.Email" />
        </div>

    </div>
    <br>
    <!-- /// -->
    <div class="row">
        <div class='col-sm-2'>
        <label>Phone Number</label>
    </div>
        <div class='col-sm-6'>
            <input type='text' class="form-control" [(ngModel)]="newcollector.phoneNumber" />
        </div>

    </div>
    <br>
    <!-- /// -->
    <div class="row">
            <div class='col-sm-2'>
        <label>Password</label>
        </div>
        <div class='col-sm-6'>
            <input type='password' class="form-control" [(ngModel)]="newcollector.Password" />
        </div>

    </div>
    <br>
    <!-- /// -->
    <button class="btn-success " style="width:80px;height:40px;" (click)="savecol()">Add</button>

</div>
