<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
  <app-admin-navbar></app-admin-navbar>
  <!-- <a  class="btn btn-success "  [routerLink]="['/Ques']">
      <span class="glyphicon glyphicon-plus"></span> Plus 
    </a> -->

  <ul class="navbar-nav">
    <li class="nav-item">
      <br />
    </li>
  </ul>
  <br />

  <div class="container-fluid">

    
  <!-- *********fixed********** -->
  <div class="row">
    <div class="col-lg-1">
    </div>
    <div class="col-lg-10">
<br/>
      <!-- <div style="color: green;" class="display-4 mr-4">Fixed Questions</div>
      <span style="font-size: 16px;" class="text-primary mt-2">* The Answers :is very satisfied, satisfied, partialy satisfied, Not satisfied </span> -->
      <br />
    </div>
  </div>

  <div class="row">
    <div class="col-lg-1">
    </div>
    <div class="col-lg-4">
      <p>
        <input type="text" placeholder="Question 1" required class="form-control" [(ngModel)]="survQues[0]">
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-1">
    </div>
    <div class="col-lg-4">
      <p>
        <input type="text" placeholder="Question 2" required class="form-control" [(ngModel)]="survQues[1]">
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-1">
    </div>
    <div class="col-lg-4">
      <p>
        <label for="text" class="sr-only">Password</label>
        <input type="text" placeholder="Question 3" required class="form-control" [(ngModel)]="survQues[2]">
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-1">
    </div>
    <div class="col-lg-4">
      <p>
        <label for="text" class="sr-only">Password</label>
        <input type="text" placeholder="Question 4" required class="form-control" [(ngModel)]="survQues[3]">
      </p>
    </div>
  </div>
  
    <!-- different questions -->
    <!-- 1 -->
    <!-- <div class="row mt-5">
      <div class="col-lg-1">
      </div>
      <div class="col-lg-4">

        <div style="color: green;" class="display-4">Customized Questions</div>
        <br />
      </div>
    </div>
      
    <div class="row">
      <div class="col-lg-1">
      </div>

      <div class="col-lg-2 mr-5">

        <label for="text" class="sr-only">Question</label>
        <p>
          <input type="text" placeholder="Question 1" required class="form-control" [(ngModel)]="survQues1.Question">
        </p>

      </div>

  

    <div class="col-lg-2">
      <label for="text" class="sr-only">Ans1</label>
      <p>
        <input matInput placeholder="Answer 1" required class="form-control" [(ngModel)]="survQues1.ChoiceA">
      </p>
    </div>

  

    <div class="col-lg-2">
      <label for="text" class="sr-only">Ans2</label>
      <p>
        <input matInput placeholder="Answer 2" required class="form-control" [(ngModel)]="survQues1.ChoiceB">
      </p>
    </div>


    <div class="col-lg-2">
      <label for="text" class="sr-only">Ans3</label>
      <p>
        <input placeholder="Answer 3" required class="form-control" [(ngModel)]="survQues1.ChoiceC">
      </p>
    </div>

  </div> -->
  <!-- *********2********** -->
  <!-- <div class="row">
    <div class="col-lg-1">
    </div>
    <div class="col-lg-2 mr-5">
      <label for="text" class="sr-only">Question</label>
      <p>
        <input type="text" placeholder="Question 2" required class="form-control" [(ngModel)]="survQues2.Question">
      </p>
    </div>

    <div class="col-lg-2">
      <label for="text" class="sr-only">Ans1</label>
      <p>
        <input matInput placeholder="Answer 1" required class="form-control" [(ngModel)]="survQues2.ChoiceA">
      </p>
    </div>
   
    <div class="col-lg-2">
      <label for="text" class="sr-only">Ans2</label>
      <p>
        <input matInput placeholder="Answer 2" required class="form-control" [(ngModel)]="survQues2.ChoiceB">
      </p>
    </div>
    
    <div class="col-lg-2">
      <label for="text" class="sr-only">Ans3</label>
      <p>
        <input placeholder="Answer 3" required class="form-control" [(ngModel)]="survQues2.ChoiceC">
      </p>
    </div>
  </div> -->
  <!-- 3 -->
  <!-- <div class="row">
    <div class="col-lg-1">
    </div>
    <div class="col-lg-2 mr-5">
      <label for="text" class="sr-only">Question</label>
      <p>
        <input type="text" placeholder="Question 3" required class="form-control" [(ngModel)]="survQues3.Question">
      </p>
    </div>
  
    <div class="col-lg-2">
      <label for="text" class="sr-only">Ans1</label>
      <p>
        <input matInput placeholder="Answer 1" required class="form-control" [(ngModel)]="survQues3.ChoiceA">
      </p>
    </div>
   
    <div class="col-lg-2">
      <label for="text" class="sr-only">Ans2</label>
      <p>
        <input matInput placeholder="Answer 2" required class="form-control" [(ngModel)]="survQues3.ChoiceB">
      </p>
    </div>
   
    <div class="col-lg-2">
      <label for="text" class="sr-only">Ans3</label>
      <p>
        <input placeholder="Answer 3" required class="form-control" [(ngModel)]="survQues3.ChoiceC">
      </p>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-lg-1">
    </div>
    <div class="col-lg-8">
    </div>
  </div> 
 
  </div> -->
  <a class="btn btn-success" style="width: 100px;" (click)="fillSurveyArray()">Save</a>
