<div class="container">

  <app-manager-navbar></app-manager-navbar>

</div>




<!-- <div class="container-fluid">
  <div class="row">


    <div class="col-lg-5">

      <google-chart #chart [title]="title" [type]="type" [data]="data" [columnNames]="columnNames" [options]="options" [width]="width"
        [height]="height">
      </google-chart>
    </div>

    <div class="col-lg-6">

      <app-bar-typ-clnt-rgn></app-bar-typ-clnt-rgn>
      <div class="row">
        <div class="col-lg-3">
        </div>
        <div class="col-lg-9">
          <p style="font-style: italic;margin-top: 0;padding-top: 0;">red for restaurant,blue for apartment</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-2"></div>
  <div class="col-lg-4">
    <form>
      <table class="table table-bordered text-center">
        <tr ngclass="btn-primary">
          <th scope="col">Waste</th>
          <th scope="col">Price LE/Ton</th>

          <tr *ngFor="let p of this.wasteServ.wastesShared,let i=index ">

            <td>
              {{p.name}}
            </td>

            <td>
              {{p.price}}
            </td>
          </tr>
      </table>
    </form>
  </div>
  <div class="col-lg-6"></div>
</div> -->

<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="row">


        <div class="col-lg-5">
          <google-chart #chart [title]="title" [type]="type" [data]="data" [columnNames]="columnNames" [options]="options" [width]="width"
            [height]="height">
          </google-chart>
        </div>


        <div class="col-lg-6">

          <app-bar-typ-clnt-rgn></app-bar-typ-clnt-rgn>
          <div class="row">
            <div class="col-lg-3">
            </div>
            <div class="col-lg-9">
              <p style="font-style: italic;margin-top: 0;padding-top: 0;">red for restaurant,blue for apartment</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- </div> -->
    <div class="carousel-item">

      <br>
      <br>
      <mat-toolbar color="Green">
          <div  style="color:rgb(47, 158, 37);" class="text-center h2">
            Waste Prices
          </div>
        </mat-toolbar>
      <br>
      <table class="table table-bordered text-center">
        <tr ngclass="btn-primary">
          <th scope="col">Waste</th>
          <th scope="col">Price LE/Ton</th>

          <tr *ngFor="let p of this.wasteServ.wastesShared,let i=index ">

            <td>
              {{p.name}}
            </td>

            <td>
              {{p.price}}
            </td>
          </tr>
      </table>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleSlidesOnly" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon bg-success" aria-hidden="true"></span>
      <span class="sr-only  ">Previous</span>
    </a>
    <a class="carousel-control-next " href="#carouselExampleSlidesOnly" role="button" data-slide="next">
      <span class="carousel-control-next-icon bg-success" aria-hidden="true"></span>
      <span class="sr-only ">Next</span>
    </a>

  </div>
</div>