<nav mat-tab-nav-bar mat-align-tabs="start">
    <!-- <div class="container mr-2"> -->
  
          <a class="mr-3 mt-1">
              <img src="../../assets/1.png" alt="" style="width:40px;height:40px;">
            </a>
            <p class="mr-3 mt-2"style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;font-size: 1.5em;color: rgb(68, 167, 68)">WasteApp</p>
        
    <!-- </div> -->
  
        <a class="mt-2" mat-tab-link *ngFor="let link of navLinks" [routerLink]="link.link" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive">{{link.label}}
  
        </a>
      </nav>
