


  <app-admin-navbar></app-admin-navbar>
  <!-- //// -->
<div class="container">

  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <div class="row">
        <div class="col-8">
          <h1 class="display-4">Today Schedule</h1>
          <p class="lead">{{ myDate | date :'short'}}
          </p>
        </div>
        <div class="col-4">
            <div class="row mt-4">
              <label style="font-size: large; color: darkgreen; text-decoration-line: underline;">Assign requests to collectors Today!</label><br/>
              <!-- <button class="btn text-dark bg-light text-success" -->
              <button class="btn btn-outline-success" (click)="AssignRequests()"
              style="margin-left: 70px; width: 150px; font-weight: bold;">Assign</button>
            </div>
        </div>
      </div>
    </div>
  </div>
  <google-map width="1110" height="400" [center]="position">
    <map-marker *ngFor="let mark of todyScheds ; let i = index " [position]="markers[i].position" [label]="markers[i].label"
      title="{{markers[i].title}}">
    </map-marker>
  </google-map>
  <br/>
  <table class="table table-active ">
    <thead>
      <tr class="table-info" ngclass="btn-primary">
        <th scope="col">Region</th>
        <th scope="col">Driver Name</th>
        <th scope="col">Collectors</th>

      </tr>
    </thead>
    <tbody>
      <tr class="table-success" *ngFor="let schedule of todyScheds ">
        <td>{{schedule.region}}</td>
        <td>{{schedule.driver }}</td>
        <td>
          <tr class="table-success table-borderless " *ngFor="let coll of schedule.collecList">
            <td>{{coll}}</td>
          </tr>
        </td>
      </tr>
    </tbody>
  </table>
</div>
